<mat-selection-list *ngIf="bulkActions === true">
  <mat-list-option *ngFor="let schedule of scheduleList">{{schedule.doc.schedule_name}}</mat-list-option>
</mat-selection-list>
<div *ngIf="!bulkActions">
  <mat-expansion-panel *ngFor="let schedule of scheduleList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{schedule.doc.schedule_name}}</strong>
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Schedule summary">
        <div class="col-12 employee-list-item-content">
          <div class="position-list-item-input-field-container col-6 left">

          </div>
          <div class="col-6">
            <div class="col-12 input-field-wrapper">
              <label for="schedule_id">Schedule ID: </label>
              <mat-form-field>
                <input matInput disabled id="schedule_id" [(ngModel)]="schedule.id">
              </mat-form-field>
            </div>
            <div class="col-12 input-field-wrapper">
              <label for="schedule_name">Schedule name: </label>
              <mat-form-field>
                <input matInput id="schedule_name" [(ngModel)]="schedule.doc.schedule_name">
              </mat-form-field>
            </div>
            <div class="col-12 input-field-wrapper">
              <label for="description">Description: </label>
              <mat-form-field>
                <input matInput id="description" [(ngModel)]="schedule.doc.schedule_description">
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 flex">
            <button mat-raised-button
                    (click)="saveChanges({id: schedule.id})">
              <i class="material-icons">&#xE161;</i>
              Save changes
            </button>
            <button (click)="deleteSelectedSchedule(schedule.id)" mat-raised-button><i
              class="material-icons">&#xE92B;</i> Delete schedule
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Schedule settings">
        <div class="row">
          <h4 class="col-12">Apply changes to selected workdays</h4>
          <div class="col-12">
            <div class="col-4">
              <mat-card class="selected-day-list-wrapper">
                <mat-card-title></mat-card-title>
                <mat-card-content>
                  <h4 *ngIf="workDayList.length < 1">Click on a day to add it to editing list</h4>
                  <mat-selection-list dense *ngIf="workDayList.length > 0">
                    <mat-list-option *ngFor="let workDay of workDayList">
                      {{workDay.title | date:'mediumDate'}}
                    </mat-list-option>
                  </mat-selection-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-8">
              <h5>Work day time frame</h5>
              <div class="flex-space-between">
                <mat-form-field>
                  <input matInput type="time" placeholder="Start time">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="time" placeholder="End time">
                </mat-form-field>
              </div>
              <div>
                <h5 *ngIf="breakList.length > 0">
                  Breaks
                </h5>
                <mat-chip-list #breakChips *ngIf="breakList.length > 0">
                  <mat-chip *ngFor="let break of breakList">{{break.start}} - {{break.end}}</mat-chip>
                </mat-chip-list>
              </div>
              <hr>
              <button mat-raised-button>Save work days</button>
              <button mat-raised-button (click)="openAddBreakWindow()">Add break</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="calendar-header flex-space-between">
            <button mat-button class="previous-month" (click)="previousMonth()">Previous month</button>
            <div class="current-date-label">
              <strong>{{viewDate | date:'mediumDate' }}</strong>
            </div>
            <button mat-button class="next-month" (click)="nextMonth()">Next month</button>
          </div>
          <div class="col-12">
            <mwl-calendar-month-view
              [viewDate]="viewDate"
              [(events)]="workDayList"
              (dayClicked)="dayClicked($event.day)">
            </mwl-calendar-month-view>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</div>

