<mat-sidenav-container>
  <mat-sidenav mode="side" opened="{{sidebarOpen}}">
    <div>
      <button mat-button name="workers" (click)="onModelNameSelected.emit('employee')" >
        <i class="material-icons">&#xE853;</i>
        Employees
      </button>
    </div>
       <div>
      <button mat-button name="positions"  (click)="onModelNameSelected.emit('position')" >
        <i class="material-icons">&#xE8F9;</i>
        Job positions
      </button>
    </div>
    <div>
      <button mat-button name="schedules" routerLink="schedules">
        <i class="material-icons">&#xE8B5;</i>
        Schedules
      </button>
    </div>
    <hr>
    <div>
      <button mat-button name="calendar">
        <i class="material-icons">&#xE916;</i>
        Calendar
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-page-content-wrapper></app-page-content-wrapper>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="menu-button-wrapper">
  <button mat-fab (click)="sidebarOpen = !sidebarOpen">
    <i class="material-icons">&#xE5D2;</i>
  </button>
</div>
