.mat-sidenav-container{

}

.mat-sidenav{
  border-right: solid 2px lightgray;
}

mat-sidenav, .mat-sidenav-container{
  height: 96vh;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
}

