@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";

app-root{
  height: 100vh;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.right{
  float: right;
}

.left{
  float: left;
}

simple-snack-bar{
  color: white;
}
